##### https://simpleanalytical.com/how-to-web-scrape-wikipedia-python-urllib-beautiful-soup-pandas

In [287]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [288]:
response = requests.get('https://www.infomoney.com.br/carreira/gestao-e-lideranca/noticia/7968899/as-20-pessoas-mais-ricas-do-mundo-segundo-a-forbes-')
print(response.text[0:500])

<!doctype html>
<html class="no-js" lang="pt-br">
<head>
 <title>As 20 pessoas mais ricas do mundo, segundo a Forbes   - InfoMoney</title>
<meta charset="utf-8" />
<link rel="dns-prefetch" href="//facebook.com" />
<link rel="dns-prefetch" href="//fbcdn-profile-a.akamaihd.net" />
<link rel="dns-prefetch" href="//images.infomoney.com.br" />
<link rel="dns-prefetch" href="//media.infomoney.com.br" />
<link rel="dns-prefetch" href="//tailtarget.com" />
<link rel="dns-prefetch" href="//www.googletagm

In [289]:
soup= BeautifulSoup(response.text,'html.parser')

In [290]:
all_table = soup.find_all('table')
all_table

[<table border="1" style="border-collapse: collapse; width: 96.8295%; height: 928px;">
 <thead>
 <tr style="height: 41px;">
 <td style="width: 41.4021%; height: 41px;"><strong>Nome </strong></td>
 <td style="width: 33.5979%; height: 41px;"><strong>Patrimônio </strong></td>
 </tr>
 </thead>
 <tbody>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">1. Jeff Bezos, dono da Amazon</td>
 <td style="width: 33.5979%; height: 40px;">US$ 131 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">2. Bill Gates, dono da Microsoft </td>
 <td style="width: 33.5979%; height: 40px;">US$ 96,5 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">3. Warren Buffett, investidor </td>
 <td style="width: 33.5979%; height: 40px;">US$ 82,5 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">4. Bernard Arnault, presidente do grupo LVMH (Louis Vuitton e Sephora) </td>
 <td style="width: 33.5979%; height: 40px;">US$ 76 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">5. Carlos Slim, dono da America Movil (controladora da Claro e Net)</td>
 <td style="width: 33.5979%; height: 40px;">US$ 64 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">6. Amancio Ortega, dono da Zara</td>
 <td style="width: 33.5979%; height: 40px;">US$ 62,7 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">7. Larry Ellison, co-fundador da Oracle </td>
 <td style="width: 33.5979%; height: 40px;">US$ 62,5 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">8. Mark Zuckerberg, CEO do Facebook </td>
 <td style="width: 33.5979%; height: 40px;">US$ 62,3 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">9. Michael Bloomberg, fundador da agência Bloomberg </td>
 <td style="width: 33.5979%; height: 40px;">US$ 55,5 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">10. Larry Page, co-fundador do Google </td>
 <td style="width: 33.5979%; height: 40px;">US$ 50,8 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">11. Charles Koch, CEO da Koch Industries</td>
 <td style="width: 33.5979%; height: 40px;">US$ 50,5 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">11. David Koch, acionista majoritário da Koch Industries</td>
 <td style="width: 33.5979%; height: 40px;">US$ 50,5 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">13. Mukesh Ambani, CEO da Reliance Industries </td>
 <td style="width: 33.5979%; height: 40px;">US$ 50 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">14. Sergey Brin, co-fundador do Google </td>
 <td style="width: 33.5979%; height: 40px;">US$ 49,8 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">15. F<span style="font-weight: 400;">rancoise Bettencourt Meyers, dona da L'Oreal </span></td>
 <td style="width: 33.5979%; height: 40px;">US$ 49,3 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">16. Jim Walton, filho do fundador do WalMart e presidente do Arvest, maior banco de Arkansas</td>
 <td style="width: 33.5979%; height: 40px;">US$ 44,6 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">17. Alice Walton, filha do fundador do WalMart, abriu o museu Crystal Bridges no Arkansas</td>
 <td style="width: 33.5979%; height: 40px;">US$ 44,4 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">18. Rob Walton, filho mais velho do fundador do WalMart e presidente do conselho da companhia </td>
 <td style="width: 33.5979%; height: 40px;">US$ 44,3 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">19. Steve Ballmer, ex-CEO da Microsoft </td>
 <td style="width: 33.5979%; height: 40px;">US$ 41,2 bilhões </td>
 </tr>
 <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">20. Ma Huateng, CEO da Tencent Holdings </td>
 <td style="width: 33.5979%; height: 40px;">US$ 38,8 bilhões </td>
 </tr>
 </tbody>
 </table>]

In [291]:
table = soup.find('table', {'style':'border-collapse: collapse; width: 96.8295%; height: 928px;'})
table

<table border="1" style="border-collapse: collapse; width: 96.8295%; height: 928px;">
<thead>
<tr style="height: 41px;">
<td style="width: 41.4021%; height: 41px;"><strong>Nome </strong></td>
<td style="width: 33.5979%; height: 41px;"><strong>Patrimônio </strong></td>
</tr>
</thead>
<tbody>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">1. Jeff Bezos, dono da Amazon</td>
<td style="width: 33.5979%; height: 40px;">US$ 131 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">2. Bill Gates, dono da Microsoft </td>
<td style="width: 33.5979%; height: 40px;">US$ 96,5 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">3. Warren Buffett, investidor </td>
<td style="width: 33.5979%; height: 40px;">US$ 82,5 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">4. Bernard Arnault, presidente do grupo LVMH (Louis Vuitton e Sephora) </td>
<td style="width: 33.5979%; height: 40px;">US$ 76 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">5. Carlos Slim, dono da America Movil (controladora da Claro e Net)</td>
<td style="width: 33.5979%; height: 40px;">US$ 64 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">6. Amancio Ortega, dono da Zara</td>
<td style="width: 33.5979%; height: 40px;">US$ 62,7 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">7. Larry Ellison, co-fundador da Oracle </td>
<td style="width: 33.5979%; height: 40px;">US$ 62,5 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">8. Mark Zuckerberg, CEO do Facebook </td>
<td style="width: 33.5979%; height: 40px;">US$ 62,3 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">9. Michael Bloomberg, fundador da agência Bloomberg </td>
<td style="width: 33.5979%; height: 40px;">US$ 55,5 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">10. Larry Page, co-fundador do Google </td>
<td style="width: 33.5979%; height: 40px;">US$ 50,8 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">11. Charles Koch, CEO da Koch Industries</td>
<td style="width: 33.5979%; height: 40px;">US$ 50,5 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">11. David Koch, acionista majoritário da Koch Industries</td>
<td style="width: 33.5979%; height: 40px;">US$ 50,5 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">13. Mukesh Ambani, CEO da Reliance Industries </td>
<td style="width: 33.5979%; height: 40px;">US$ 50 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">14. Sergey Brin, co-fundador do Google </td>
<td style="width: 33.5979%; height: 40px;">US$ 49,8 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">15. F<span style="font-weight: 400;">rancoise Bettencourt Meyers, dona da L'Oreal </span></td>
<td style="width: 33.5979%; height: 40px;">US$ 49,3 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">16. Jim Walton, filho do fundador do WalMart e presidente do Arvest, maior banco de Arkansas</td>
<td style="width: 33.5979%; height: 40px;">US$ 44,6 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">17. Alice Walton, filha do fundador do WalMart, abriu o museu Crystal Bridges no Arkansas</td>
<td style="width: 33.5979%; height: 40px;">US$ 44,4 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">18. Rob Walton, filho mais velho do fundador do WalMart e presidente do conselho da companhia </td>
<td style="width: 33.5979%; height: 40px;">US$ 44,3 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">19. Steve Ballmer, ex-CEO da Microsoft </td>
<td style="width: 33.5979%; height: 40px;">US$ 41,2 bilhões </td>
</tr>
<tr style="height: 40px;">
<td style="width: 41.4021%; height: 40px;">20. Ma Huateng, CEO da Tencent Holdings </td>
<td style="width: 33.5979%; height: 40px;">US$ 38,8 bilhões </td>
</tr>
</tbody>
</table>

In [292]:
results = soup.find_all('td')
len(results)

42

In [293]:
results[0:4]

[<td style="width: 41.4021%; height: 41px;"><strong>Nome </strong></td>,
 <td style="width: 33.5979%; height: 41px;"><strong>Patrimônio </strong></td>,
 <td style="width: 41.4021%; height: 40px;">1. Jeff Bezos, dono da Amazon</td>,
 <td style="width: 33.5979%; height: 40px;">US$ 131 bilhões </td>]

In [294]:
table.findAll('tr')

[<tr style="height: 41px;">
 <td style="width: 41.4021%; height: 41px;"><strong>Nome </strong></td>
 <td style="width: 33.5979%; height: 41px;"><strong>Patrimônio </strong></td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">1. Jeff Bezos, dono da Amazon</td>
 <td style="width: 33.5979%; height: 40px;">US$ 131 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">2. Bill Gates, dono da Microsoft </td>
 <td style="width: 33.5979%; height: 40px;">US$ 96,5 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">3. Warren Buffett, investidor </td>
 <td style="width: 33.5979%; height: 40px;">US$ 82,5 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">4. Bernard Arnault, presidente do grupo LVMH (Louis Vuitton e Sephora) </td>
 <td style="width: 33.5979%; height: 40px;">US$ 76 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">5. Carlos Slim, dono da America Movil (controladora da Claro e Net)</td>
 <td style="width: 33.5979%; height: 40px;">US$ 64 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">6. Amancio Ortega, dono da Zara</td>
 <td style="width: 33.5979%; height: 40px;">US$ 62,7 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">7. Larry Ellison, co-fundador da Oracle </td>
 <td style="width: 33.5979%; height: 40px;">US$ 62,5 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">8. Mark Zuckerberg, CEO do Facebook </td>
 <td style="width: 33.5979%; height: 40px;">US$ 62,3 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">9. Michael Bloomberg, fundador da agência Bloomberg </td>
 <td style="width: 33.5979%; height: 40px;">US$ 55,5 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">10. Larry Page, co-fundador do Google </td>
 <td style="width: 33.5979%; height: 40px;">US$ 50,8 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">11. Charles Koch, CEO da Koch Industries</td>
 <td style="width: 33.5979%; height: 40px;">US$ 50,5 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">11. David Koch, acionista majoritário da Koch Industries</td>
 <td style="width: 33.5979%; height: 40px;">US$ 50,5 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">13. Mukesh Ambani, CEO da Reliance Industries </td>
 <td style="width: 33.5979%; height: 40px;">US$ 50 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">14. Sergey Brin, co-fundador do Google </td>
 <td style="width: 33.5979%; height: 40px;">US$ 49,8 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">15. F<span style="font-weight: 400;">rancoise Bettencourt Meyers, dona da L'Oreal </span></td>
 <td style="width: 33.5979%; height: 40px;">US$ 49,3 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">16. Jim Walton, filho do fundador do WalMart e presidente do Arvest, maior banco de Arkansas</td>
 <td style="width: 33.5979%; height: 40px;">US$ 44,6 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">17. Alice Walton, filha do fundador do WalMart, abriu o museu Crystal Bridges no Arkansas</td>
 <td style="width: 33.5979%; height: 40px;">US$ 44,4 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">18. Rob Walton, filho mais velho do fundador do WalMart e presidente do conselho da companhia </td>
 <td style="width: 33.5979%; height: 40px;">US$ 44,3 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">19. Steve Ballmer, ex-CEO da Microsoft </td>
 <td style="width: 33.5979%; height: 40px;">US$ 41,2 bilhões </td>
 </tr>, <tr style="height: 40px;">
 <td style="width: 41.4021%; height: 40px;">20. Ma Huateng, CEO da Tencent Holdings </td>
 <td style="width: 33.5979%; height: 40px;">US$ 38,8 bilhões </td>
 </tr>]

In [295]:
nome = []
patrimonio = []

for row in table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==2:
        nome.append(cells[0].find(text=True))
        patrimonio.append(cells[1].find(text=True))

In [296]:
import pandas as pd
df=pd.DataFrame(nome,columns=['name'])
df['patrimony']=patrimonio
df

                                                 name          patrimony
0                                               Nome         Patrimônio
1                       1. Jeff Bezos, dono da Amazon   US$ 131 bilhões
2                   2. Bill Gates, dono da Microsoft   US$ 96,5 bilhões
3                      3. Warren Buffett, investidor   US$ 82,5 bilhões
4   4. Bernard Arnault, presidente do grupo LVMH (...    US$ 76 bilhões
5   5. Carlos Slim, dono da America Movil (control...    US$ 64 bilhões
6                     6. Amancio Ortega, dono da Zara  US$ 62,7 bilhões
7            7. Larry Ellison, co-fundador da Oracle   US$ 62,5 bilhões
8                8. Mark Zuckerberg, CEO do Facebook   US$ 62,3 bilhões
9   9. Michael Bloomberg, fundador da agência Bloo...  US$ 55,5 bilhões
10             10. Larry Page, co-fundador do Google   US$ 50,8 bilhões
11           11. Charles Koch, CEO da Koch Industries  US$ 50,5 bilhões
12  11. David Koch, acionista majoritário da Koch ...  US$ 50,5 bilhões
13     13. Mukesh Ambani, CEO da Reliance Industries     US$ 50 bilhões
14            14. Sergey Brin, co-fundador do Google   US$ 49,8 bilhões
15                                              15. F  US$ 49,3 bilhões
16  16. Jim Walton, filho do fundador do WalMart e...  US$ 44,6 bilhões
17  17. Alice Walton, filha do fundador do WalMart...  US$ 44,4 bilhões
18  18. Rob Walton, filho mais velho do fundador d...  US$ 44,3 bilhões
19            19. Steve Ballmer, ex-CEO da Microsoft   US$ 41,2 bilhões
20           20. Ma Huateng, CEO da Tencent Holdings   US$ 38,8 bilhões

In [297]:
divisao = df['name'].str.split(',')
df['name'] = divisao.str.get(0)
df['description'] = divisao.str.get(1)

df

,name,patrimony,description
0,Nome,Patrimônio,NaN
1,1. Jeff Bezos,US$ 131 bilhões,dono da Amazon
2,2. Bill Gates,"US$ 96,5 bilhões",dono da Microsoft
3,3. Warren Buffett,"US$ 82,5 bilhões",investidor
4,4. Bernard Arnault,US$ 76 bilhões,presidente do grupo LVMH (Louis Vuitton e Sep...
5,5. Carlos Slim,US$ 64 bilhões,dono da America Movil (controladora da Claro ...
6,6. Amancio Ortega,"US$ 62,7 bilhões",dono da Zara
7,7. Larry Ellison,"US$ 62,5 bilhões",co-fundador da Oracle
8,8. Mark Zuckerberg,"US$ 62,3 bilhões",CEO do Facebook
9,9. Michael Bloomberg,"US$ 55,5 bilhões",fundador da agência Bloomberg
10,10. Larry Page,"US$ 50,8 bilhões",co-fundador do Google
11,11. Charles Koch,"US$ 50,5 bilhões",CEO da Koch Industries
12,11. David Koch,"US$ 50,5 bilhões",acionista majoritário da Koch Industries
13,13. Mukesh Ambani,US$ 50 bilhões,CEO da Reliance Industries
14,14. Sergey Brin,"US$ 49,8 bilhões",co-fundador do Google
15,15. F,"US$ 49,3 bilhões",NaN
16,16. Jim Walton,"US$ 44,6 bilhões",filho do fundador do WalMart e presidente do ...
17,17. Alice Walton,"US$ 44,4 bilhões",filha do fundador do WalMart
18,18. Rob Walton,"US$ 44,3 bilhões",filho mais velho do fundador do WalMart e pre...
19,19. Steve Ballmer,"US$ 41,2 bilhões",ex-CEO da Microsoft
20,20. Ma Huateng,"US$ 38,8 bilhões",CEO da Tencent Holdings

In [298]:
patrimonio = df['patrimony'].str.split(' ')
df['uss'] = patrimonio.str.get(0)
df['number'] = patrimonio.str.get(1)
df['qtd'] = patrimonio.str.get(2)
df

,name,patrimony,description,uss,number,qtd
0,Nome,Patrimônio,NaN,Patrimônio,NaN,NaN
1,1. Jeff Bezos,US$ 131 bilhões,dono da Amazon,US$,131,bilhões
2,2. Bill Gates,"US$ 96,5 bilhões",dono da Microsoft,US$,"96,5",bilhões
3,3. Warren Buffett,"US$ 82,5 bilhões",investidor,US$,"82,5",bilhões
4,4. Bernard Arnault,US$ 76 bilhões,presidente do grupo LVMH (Louis Vuitton e Sep...,US$,76,bilhões
5,5. Carlos Slim,US$ 64 bilhões,dono da America Movil (controladora da Claro ...,US$,64,bilhões
6,6. Amancio Ortega,"US$ 62,7 bilhões",dono da Zara,US$,"62,7",bilhões
7,7. Larry Ellison,"US$ 62,5 bilhões",co-fundador da Oracle,US$,"62,5",bilhões
8,8. Mark Zuckerberg,"US$ 62,3 bilhões",CEO do Facebook,US$,"62,3",bilhões
9,9. Michael Bloomberg,"US$ 55,5 bilhões",fundador da agência Bloomberg,US$,"55,5",bilhões
10,10. Larry Page,"US$ 50,8 bilhões",co-fundador do Google,US$,"50,8",bilhões
11,11. Charles Koch,"US$ 50,5 bilhões",CEO da Koch Industries,US$,"50,5",bilhões
12,11. David Koch,"US$ 50,5 bilhões",acionista majoritário da Koch Industries,US$,"50,5",bilhões
13,13. Mukesh Ambani,US$ 50 bilhões,CEO da Reliance Industries,US$,50,bilhões
14,14. Sergey Brin,"US$ 49,8 bilhões",co-fundador do Google,US$,"49,8",bilhões
15,15. F,"US$ 49,3 bilhões",NaN,US$,"49,3",bilhões
16,16. Jim Walton,"US$ 44,6 bilhões",filho do fundador do WalMart e presidente do ...,US$,"44,6",bilhões
17,17. Alice Walton,"US$ 44,4 bilhões",filha do fundador do WalMart,US$,"44,4",bilhões
18,18. Rob Walton,"US$ 44,3 bilhões",filho mais velho do fundador do WalMart e pre...,US$,"44,3",bilhões
19,19. Steve Ballmer,"US$ 41,2 bilhões",ex-CEO da Microsoft,US$,"41,2",bilhões
20,20. Ma Huateng,"US$ 38,8 bilhões",CEO da Tencent Holdings,US$,"38,8",bilhões

In [299]:
df.drop('patrimony', axis = 1, inplace = True)

In [300]:
#Exclui a primeira linha
df.drop(0, inplace = True)
df

,name,description,uss,number,qtd
1,1. Jeff Bezos,dono da Amazon,US$,131,bilhões
2,2. Bill Gates,dono da Microsoft,US$,"96,5",bilhões
3,3. Warren Buffett,investidor,US$,"82,5",bilhões
4,4. Bernard Arnault,presidente do grupo LVMH (Louis Vuitton e Sep...,US$,76,bilhões
5,5. Carlos Slim,dono da America Movil (controladora da Claro ...,US$,64,bilhões
6,6. Amancio Ortega,dono da Zara,US$,"62,7",bilhões
7,7. Larry Ellison,co-fundador da Oracle,US$,"62,5",bilhões
8,8. Mark Zuckerberg,CEO do Facebook,US$,"62,3",bilhões
9,9. Michael Bloomberg,fundador da agência Bloomberg,US$,"55,5",bilhões
10,10. Larry Page,co-fundador do Google,US$,"50,8",bilhões
11,11. Charles Koch,CEO da Koch Industries,US$,"50,5",bilhões
12,11. David Koch,acionista majoritário da Koch Industries,US$,"50,5",bilhões
13,13. Mukesh Ambani,CEO da Reliance Industries,US$,50,bilhões
14,14. Sergey Brin,co-fundador do Google,US$,"49,8",bilhões
15,15. F,NaN,US$,"49,3",bilhões
16,16. Jim Walton,filho do fundador do WalMart e presidente do ...,US$,"44,6",bilhões
17,17. Alice Walton,filha do fundador do WalMart,US$,"44,4",bilhões
18,18. Rob Walton,filho mais velho do fundador do WalMart e pre...,US$,"44,3",bilhões
19,19. Steve Ballmer,ex-CEO da Microsoft,US$,"41,2",bilhões
20,20. Ma Huateng,CEO da Tencent Holdings,US$,"38,8",bilhões

In [301]:
df.to_csv('rich_20.csv')

In [302]:
df = pd.read_csv('rich_20.csv')

In [303]:
df.dtypes

Unnamed: 0      int64
name           object
description    object
uss            object
number         object
qtd            object
dtype: object

In [304]:
df['number'] = df["number"].str.replace(',', ".").astype(float)
df

,Unnamed: 0,name,description,uss,number,qtd
0,1,1. Jeff Bezos,dono da Amazon,US$,131.0,bilhões
1,2,2. Bill Gates,dono da Microsoft,US$,96.5,bilhões
2,3,3. Warren Buffett,investidor,US$,82.5,bilhões
3,4,4. Bernard Arnault,presidente do grupo LVMH (Louis Vuitton e Sep...,US$,76.0,bilhões
4,5,5. Carlos Slim,dono da America Movil (controladora da Claro ...,US$,64.0,bilhões
5,6,6. Amancio Ortega,dono da Zara,US$,62.7,bilhões
6,7,7. Larry Ellison,co-fundador da Oracle,US$,62.5,bilhões
7,8,8. Mark Zuckerberg,CEO do Facebook,US$,62.3,bilhões
8,9,9. Michael Bloomberg,fundador da agência Bloomberg,US$,55.5,bilhões
9,10,10. Larry Page,co-fundador do Google,US$,50.8,bilhões
10,11,11. Charles Koch,CEO da Koch Industries,US$,50.5,bilhões
11,12,11. David Koch,acionista majoritário da Koch Industries,US$,50.5,bilhões
12,13,13. Mukesh Ambani,CEO da Reliance Industries,US$,50.0,bilhões
13,14,14. Sergey Brin,co-fundador do Google,US$,49.8,bilhões
14,15,15. F,NaN,US$,49.3,bilhões
15,16,16. Jim Walton,filho do fundador do WalMart e presidente do ...,US$,44.6,bilhões
16,17,17. Alice Walton,filha do fundador do WalMart,US$,44.4,bilhões
17,18,18. Rob Walton,filho mais velho do fundador do WalMart e pre...,US$,44.3,bilhões
18,19,19. Steve Ballmer,ex-CEO da Microsoft,US$,41.2,bilhões
19,20,20. Ma Huateng,CEO da Tencent Holdings,US$,38.8,bilhões

In [305]:
df.dtypes

Unnamed: 0       int64
name            object
description     object
uss             object
number         float64
qtd             object
dtype: object

In [306]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [307]:
round(df.describe(), 2)

       number
count   20.00
mean    60.36
std     22.13
min     38.80
25%     48.12
50%     50.65
75%     63.03
max    131.00

In [343]:
df.to_csv('rich_20.csv')